@import url(http://fonts.font.im/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800);

body{
    font-family: 'Open Sans', sans-serif;

}


/*----------------导航栏start-----------------------*/
.navbar-brand {
    margin-left: 10px;
}

@media only screen and (min-width:1700px) {
    .navbar-nav {
        float: left;
        margin-left: 800px;

    }


}










#navbarSupportedContent a.nav-link {
    padding: 0 30px;
    font-size: 14px;
    color: black;

}

#navbarSupportedContent a:hover {
    color: #5a6268;
}



/*----------------导航栏end-----------------------*/



/*----------------头图start-----------------------*/
.carousel-item {
    margin-top: 63px;
}


.graphicdesign {
    position: absolute;
    display: inline-block;
    margin-top: -600px;
    margin-left: 85px;
    z-index: 1;
    color: white;

}



/*----------------头图end-----------------------*/





/*----------------我们的项目start-----------------------*/
.graphic {
    margin-top: 200px;
    margin-left: 85px;
}


.graphic-right {
    margin-top: 200px;
    line-height: 30px;
    margin-right: 300px;
}


.line-1 {
    float: left;
    margin-top: 30px;
    line-height: 40px;
    list-style-type: none;
    padding-right: 200px;
    padding-left: 0px;


}

.our {
    margin-top: 30px;
}




/*----------------我们的项目end-----------------------*/




/*----------------works start-----------------------*/
.h3-works {
    margin: 0px 85px;
    margin-top: 120px;
    margin-bottom: 30px;
    font-weight: 600;
}

.mlr {
    margin: 0 55px;
}

.w-100 {
    margin: 20px 0;
}

.figure-caption {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}

.figure-caption a {
    text-decoration: none;
    color: black;
}
/*----------------works end-----------------------*/



/*----------------创意过程start-----------------------*/

.col .line-2 {
    margin-top:150px;
    margin-left: 150px;
}


.content {
    margin-left: 150px;
    line-height: 30px;
    margin-top: 30px;
}

.dark-content {
    border-bottom: 1px solid gray;
    margin: 50px 0;
    margin-left: 150px;
}
/*----------------创意过程end-----------------------*/







/*----------------职位start-----------------------*/

.line-3 {
    margin-left: 150px;

}



.zhanliu {

    margin-left: 160px;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 0px;

}

.card-body {
    border: none;
    margin: 0;
    padding: 0;
}

.plus p{
    display: inline-block;
    margin: 0 0px;
    margin-right: 0;
    margin-top: -20px;
    margin-left: 400px;


}

.plus a {
    text-decoration: none;
    text-align: center;

}

.plus .btn {
    text-decoration: none;
    border: 1px solid gainsboro;
    border-radius:50px;
    color: black;
    padding: 10px 50px;
    outline: none;
}



/*----------------职位end-----------------------*/



/*----------------下一个案例start-----------------------*/

.muse {
    font-weight: 600;
}

.muse a {
    text-decoration: none;
    color: black;
}

.muse a:hover {
    display: inline-block;
    border-bottom: 3px solid black;
}

.anli {
    margin-top: 50px;
}
/*----------------下一个案例你end-----------------------*/
.dark-news {
    border-bottom: 1px solid gray;
    padding: 30px;
    margin: 0 70px;
    margin-top: 100px;

}





/*----------------footer start-----------------------*/

.footer {

    margin-top: 120px;
    margin-bottom: 10px;

}

.logo2 {
    margin: 0 200px;
}
.hyper {
    display: block;
    margin: 60px 200px;
}

.footer ul li{
    display: inline-block;
    float: left;
    padding:0 60px;
}

.add {
    margin-top: 60px;
    line-height: 30px;
}

.footer ul {

    margin-left:-150px;
}


.dark-footer{
    border-bottom: 1px solid gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;

}

.footer-bottom {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}


/*----------------footer end-----------------------*/