@import url(http://fonts.font.im/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800);

body{
    font-family: 'Open Sans', sans-serif;

}


/*----------------导航栏start-----------------------*/
.navbar-brand {
    margin-left: 10px;
}

@media only screen and (min-width:1700px) {
    .navbar-nav {
        float: left;
        margin-left: 800px;

    }


}










#navbarSupportedContent a.nav-link {
    padding: 0 30px;
    font-size: 14px;
    color: black;

}

#navbarSupportedContent a:hover {
    color: #5a6268;
}



/*----------------导航栏end-----------------------*/





/*----------------头图start-----------------------*/
.carousel-item {
    margin-top: 63px;
}

/*----------------头图end-----------------------*/






/*----------------内容start-----------------------*/

.title-1 {
    margin-top: 100px;
    margin-left: 85px;
    margin-right: 85px;
}

.title-1 h5 {
    padding-bottom: 30px;
}

.title-1 h5 a {
    text-decoration: none;
    color: black;
}

.title-1 h5 a:hover {
    display: inline-block;
    border-bottom:2px solid black;

}


.title-1 h2 {
    font-weight: 600;
}

.text-line {
    line-height: 30px;
}

.background {
    font-weight: 600;
}

.title-2 {
    margin-top: 100px;
    margin-left: 85px;
    margin-right: 85px;
}


.text-1 {
    line-height: 30px;
}


.title-3 {
    margin-top: 100px;
    margin-left: 85px;
    margin-right: 85px;
}


.text-center {
    padding: 120px 0;
}

.muse {
    font-weight: 600;
}

.muse a {
    text-decoration: none;
    color: black;
}

.muse a:hover {
    display: inline-block;
    border-bottom: 3px solid black;
}
/*----------------内容end-----------------------*/


.dark-news {
    border-bottom: 1px solid gray;
    padding: 30px;
    margin: 0 70px;

}


/*----------------footer start-----------------------*/

.footer {

    margin-top: 120px;
    margin-bottom: 10px;

}

.logo2 {
    margin: 0 200px;
}
.hyper {
    display: block;
    margin: 60px 200px;
}

.footer ul li{
    display: inline-block;
    float: left;
    padding:0 60px;
}

.add {
    margin-top: 60px;
    line-height: 30px;
}

.footer ul {

    margin-left:-150px;
}


.dark-footer{
    border-bottom: 1px solid gray;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;

}

.footer-bottom {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}


/*----------------footer end-----------------------*/